In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [2]:
dataset = pd.DataFrame([['001', 'Barking'], ['002', 'CO_Smoke'], ['003', 'Howling'], ['004', 'Other']], columns=['name', 'label'])
dataset

  name     label
0  001   Barking
1  002  CO_Smoke
2  003   Howling
3  004     Other

In [3]:
classes_names = ['Barking', 'Howling', 'Crying', 'CO_Smoke', 'GlassBreaking', 'Other']

In [4]:
label_encoder = LabelEncoder()
data_encoder = dataset.copy()
label_encoder.fit(classes_names)
data_encoder['label'] = label_encoder.transform(dataset['label'])

In [5]:
data_encoder

  name  label
0  001      0
1  002      1
2  003      4
3  004      5

In [6]:
classes_number = pd.DataFrame([i for i in range(len(classes_names))])

In [7]:
data_encoder = pd.DataFrame(data_encoder['label'])
one_hot_encoder = OneHotEncoder()
one_hot_encoder.fit(classes_number)
wav_labels = one_hot_encoder.transform(data_encoder).toarray()

In [8]:
wav_labels

array([[1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.]])

# get_dummies
https://pandas.pydata.org/docs/reference/api/pandas.get_dummies.html

In [8]:
dataset = pd.DataFrame([['001', 'Barking'], ['002', 'CO_Smoke'], ['003', 'Howling']], columns=['name', 'label'])
dataset

  name     label
0  001   Barking
1  002  CO_Smoke
2  003   Howling

In [9]:
pd.get_dummies(dataset)

   name_001  name_002  name_003  label_Barking  label_CO_Smoke  label_Howling
0         1         0         0              1               0              0
1         0         1         0              0               1              0
2         0         0         1              0               0              1

# np.eye
https://numpy.org/devdocs/reference/generated/numpy.eye.html

In [10]:
def create_label_dict(classes_names):
    label_dict = {}
    for i, label_name in enumerate(classes_names):
        label_dict[label_name] = i

    return label_dict 

label_dict = create_label_dict(classes_names)
print(label_dict)

{'Barking': 0, 'Howling': 1, 'Crying': 2, 'CO_Smoke': 3, 'GlassBreaking': 4, 'Other': 5}

In [11]:
wav_labels = []
for i in range(len(dataset)):
    label_name = dataset["label"][i]
    label_num = label_dict[label_name]

    class_eye = np.eye(len(classes_names))
    label_one_hot = class_eye[label_num]

    wav_labels.append(label_one_hot)
    
print(wav_labels)

[array([1., 0., 0., 0., 0., 0.]), array([0., 0., 0., 1., 0., 0.]), array([0., 1., 0., 0., 0., 0.])]